[submodule "Student-Mangements-Spring-boot-Thmeleaf-Spring-mvc"]
	path = Student-Mangements-Spring-boot-Thmeleaf-Spring-mvc
	url = https://github.com/Ti0v/Student-Mangements-Spring-boot-Thmeleaf-Spring-mvc.git
